header {
  display: inline-flex;
  align-items: center;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  height: 69px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  align-items: center;
  z-index: 1;
top: 0px;
}
body {
    background-color: black;
    color: seashell;
    opacity: 0.9;
      font-size: 22px;
}
.logo {
  padding-left: 10px;
  display: flex;
  flex-grow: 1;
  height: 50px;
}
a {
  color: seashell;
}
nav span {
  color: white;
  display: inline-block;
  padding: 0px 20px;
padding-right: 40px;
text-decoration: underline;
}
.body {
  padding-top: 75px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
text-align: center;
}
#missionimg {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
bottom: 15px;
}
.missioncontent
{
  width: 1200px;
  margin: auto;
  background-color: black;
  position: relative;
  bottom: 30px;
}
h2, h4 {
  color: seashell;
  text-align: center;
  font-family: Helvetica;
  padding: 5px;
}
#tea {
  width: 1000px;
  margin: auto;
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.teaimg img {
  display: block;
  height: 200px;
  width: 300px;
  margin: 10px;
}
.teaimg span {
  display: block;
padding: 10px;
  text-align: center;
}
#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
height: 500px;
padding-top: 20px;
margin-top: 65px;
}

.locations {
background-color: black;
margin-right: 40px;
flex-basis: 250px;
}
.contact {
  height: 200px ;
}
.contact h2, h5 {
  margin: 25px;
}
.contact h2 {
  margin-top: 5px;
}
#copyright {
  text-align: left;
  position: relative;
  right: 35px;
}
